.button {
    border: 1px solid gray;
    background: whitesmoke;
    margin-right: 5px;
  }
  .button:nth-last-child(2),
  .button:nth-last-child(1) {
    background: tomato;
    color: white;
  }
  .flexStyle{
   display:flex;padding:10px;
  }